/* ------------   Google Fonts -------- */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;700&display=swap');




/* --- reusable common css styles  ---- */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #035755;
    --secondary-text-color: #FA5652;
    --normal-text-color: #4B4F51;
    --main-bg-color: #FFF8F8;
}

body {
    position: relative; /* for scrollspy */
}

.primary-font {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    color: var(--primary-text-color);
}
.secondary-font {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
    color: var(--secondary-text-color);
}
.normal-text {
    color: var(--normal-text-color);
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

main {
    display: block !important;
}
/* ------------ Header section Style -----*/
    
   /*navbar*/
#header {
    background-color: var(--main-bg-color);
}
.logo {
    height: 65px;
    width: 191px;
}
.custom-navbar-bg {
    background-color: #dfc8c8;
}
.navbar-nav li a {
    color: var(--primary-text-color) !important;
    font-weight: 500;
}
.navbar-nav li a.active{
    color: var(--secondary-text-color) !important;
}
.navbar-nav .custom-contact-menu {
    display: inline-block;
    height: 40px;
    width: 154px;
    border-radius: 46px;
    border: 1px solid red;
    text-align: center;
}

   /*Banner*/
#banner h5 {
    color: var(--secondary-text-color);
}
.banner-btn {
    height: 50px;
    width: 180px;
    background-color: var(--secondary-text-color);
    border-radius: 45px;
    color: #fff;
    font-weight: 500;
}
.banner-btn:hover {
    background-color: var(--primary-text-color);
    color: var(--main-bg-color);
}


/* ------------ What is covid section Style -----*/
#covid {
    background-image: url('../images/path1470.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 80px 150px;
}
.learnmore-btn {
    height: 50px;
    width: 180px;
    background-color: #FEE6E5;
    border-radius: 45px;
    color: var(--secondary-text-color);
    font-weight: 600;
    display: inline-block;
    margin: 0px auto;
}
.learnmore-btn:hover {
    background-color: #f1bebe;
    color: var(--primary-text-color);
}


/* ------------ Contagion section Style -----*/
#contagion {
    background-image: url('../images/path1470.png');
    background-repeat: no-repeat;
    background-position: bottom left;
    background-size: 200px 350px;
}
.contagion-card {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.card-img {
    height: 250px;
    width: 250px;
    display: inline-block;
    margin: 0px auto;
}


/* -------- Symptomps Section Style ----------- */
#symptomps {
    background-image: url('../images/Path\ 1762.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 80px 120px;
}



/* -------- Prevention Section Style ----------- */
.prevention-number-image {
    height: 50px;
    width: 50px;
    display: inline-block;
}
.prevention-rule-one {
    background-image: url(../images/path1470\ \(2\).png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 40px 80px;
}
.prevention-rule-four {
    background-image: url(../images/path1470\ \(4\).png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50px 100px;
}


/* -------- Report Section Style ----------- */
#report {
    background-image: url('../images/Path\ 1764.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 80px 120px;
}


/* -------- help Section Style ----------- */
#help {
    padding: 50px 0px;
    background-image: url('../images/path1470\ \(3\).png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 100px 100px;
}
#help input {
    border: 0px solid transparent;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;
    border-radius: 50px;
    height: 70px;
    text-align: center;
}
#help input:focus {
    outline: none;
    border: 0px solid transparent;
}
.submit-btn {
    display: block;
    height: 50px;
    width: 100%;
    background-color: var(--secondary-text-color);
    border-radius: 45px;
    color: #fff;
    font-weight: 500;
}


/* -------- Footer Section Style ----------- */
#footer {
    background: linear-gradient(360deg, rgba(255, 241, 241, 0.5) 0%, rgba(255, 241, 241, 0) 108.69%);
}
.footer-logo {
    height: 50px;
    width: 150px;
}
.footer a {
    color: var(--primary-text-color);
    font-weight: 500;
}
.footer a:hover {
    color: var(--secondary-text-color);
    font-weight: 500;
}